/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common/utiliy/base style */
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}
 main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color:#FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
    
}   
hr{
   border: 1px solid #D1D1D1;
   margin: 29px;
}
/* top-players style */
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;

}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
    
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* top blogs styels */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.top-blogs .thumbnil img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}
/* course section style */
.courses .course-banar img{
    height: 104px;
    width: 224px;
}