/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common/utiliy/base style */
body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
    margin: 0;
    padding: 0;

}
 main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color:#FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
    
}   
hr{
   border: 1px solid #D1D1D1;
   margin: 29px;
}
/* Navagation Bar style */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #562EFF;
    width: 100%;
    height: 94px;
    margin: 0;
    padding:0;
}
.idea{
    padding-left: 15%;
}
.nav-bar h3{
    color: white;
    font-weight: 500;
    font-size: 24px;
    padding: 33px;
}
.manu{
    color: white;
    padding-right: 19%;
}
.manu-item{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.one-manu{
    padding-right: 36px;
}
/* top-players style */
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: 11px;

}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
    
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* top blogs styels */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.top-blogs .thumbnil img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}
/* course section style */
#course-hight{
    
    margin-bottom: 28px;

}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 15px;
   
}
.one-course{
    border-radius: 23px;
    border: 0px solid white;
    padding: 27px;
    box-shadow:  0px 1px 2px 2px white;
}
.courses .one-course .course-banar img{
    height: 104px;
    width: 224px;
}

.course-title{
    font-size: 18px;
}
.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-auther{
    text-decoration: none;
    color: #ED6B4F;
    font-size: 14.6913px;
}
.fa-star.filled{
   color: #FFC014;
   font-size: 12px;
}
.fa-star.unfilled{
    color: #AEAEAE;
   font-size: 12px;
}
.rating-point {
    font-size: 12px;
    color: #A2A2A2; 
}
.course-time{
    background-color:#FFE4E8;
    border-radius: 14.6913px;
    color: #FF4A60;
    padding: 3px 11px;
}
/* ---------------------
      media query
  ------------------ */
  /* For mobaile Device_ */
  @media only screen and (max-width:688px){
      .container{
          width: 100%;
      }
      .players , .blogs ,.courses{
          grid-template-columns: repeat(1,1fr);
      }
      .player,.blog{
    
           flex-direction: column;
      }
      
      
  }
  /* for tablet devises */
  @media only screen and (min-width: 688px) and (max-width:992px) {
  
    .container{
        width: 100%;
    }
    .players , .blogs ,.courses{
        grid-template-columns: repeat(2,1fr);
    }
    .player,.blog{
  
         flex-direction: column;
  }