/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common/utiliy/base style */
body{
    font-family: 'Poppins', sans-serif;
}
/* top-players style */
.top-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.top-player{
    display: flex;
    align-items: center;
    
}
.top-player img{
    width: 56px;
    height: 56px;
}